In [7]:
a = {'姓名':'賴宏瑋','性別':'男','作業分數':[95,100,90]}
b = {'學號':'M1129020'}
c = {**a, **b}
d = a.copy()
c['作業分數'][1] = 80
d['姓名'] = '許珈綺'
d['性別'] = '女'
d['學號'] = 'M1229001'
e = c.pop('作業分數')
f = sum(e) / len(e)
print(f)
print(c)
g = d.pop('作業分數')
h = sum(g) / len(g)
print(h)
print(d)

88.33333333333333
{'姓名': '賴宏瑋', '性別': '男', '學號': 'M1129020'}
88.33333333333333
{'姓名': '許珈綺', '性別': '女', '學號': 'M1229001'}

In [14]:
a = [100,50,45,60,90,95,80,50]
a.insert(0,88)
a[2:5] = [70,50]
a.remove(50)
b = a.pop(0)
c = a.pop(-1)
d = b+c
print(a)
print(d)

[100, 70, 90, 95, 80]
138

In [16]:
a = 347
b = 3
c = a//b
d = a%b
e = c**d
print(e)

13225